{% extends "base.html" %}

{% block contenido %}

<h1>Productos</h1>

<table>

    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>

        {% for producto in productos %}

            {% include "componentes/fila_producto.html" %}

        {% endfor %}

    </tbody>

</table>

{% endblock %}